
  <div class="sidebar">
    <a class="active" routerLink=""> <span class="las la-bars" style="padding-right: 10px;" ><i class="bi bi-house"></i></span>Home</a>
    
   

    <a routerLink="classes"><span class="las la-bars" style="padding-right: 10px;" ><i class="bi bi-people-fill"></i></span>Classes</a>
  
   
    
    <a routerLink="files">  <span class="las la-bars" style="padding-right: 10px;" ><i class="bi bi-file-earmark-pdf"></i></span>Bibliothéque numérique </a>
    <a routerLink="about"><span class="las la-bars" style="padding-right: 10px;" ><i class="bi bi-info-circle"></i></span>Formations </a>
  </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"><i class="bi bi-bank2"></i></span>
                </label>
                Smart University
            </h2>

            <div class="search-wrapper">
                <span class="span las la-search"><i class="bi bi-search"></i></span>
                <input type="search" placeholder="search here" />
            </div>
        
            <div class="user-wrapper">
              <button class="btn btn-outline-danger" style="margin-right: 20px;  padding: 10px;" (click)="finSession()">Logout</button>
                <img src="/assets/images/2.jpg" width="40px" height="40px" alt="">
                <div>
                    <h3>  {{userProfile?.firstName}} {{userProfile?.lastName}} </h3>
                    <small>{{role}}</small>
                </div>
            </div>
        </header>
       
        <main>
          <router-outlet></router-outlet>
        </main>
    </div>

