<div class="card-group">
    <div class="card">
      <img src="../../../assets/images/iset.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="padding: 20px;">
        <h5 class="card-title" style="color: rgb(33, 142, 200);font-style: oblique;font-size: large;">L’Institut Supérieur des Etudes Technologiques de Bizerte</h5>
        <p class="card-text" style="padding-top: 10px;">est un établissement public à caractère scientifique et technologique. Sa principale mission consiste à contribuer au développement socio-économique et au transfert technologique dans la région de Bizerte ainsi que le renforcement de l'employabilité et l’insertion professionnelle des diplômés de l’enseignement supérieur.</p>
        <a href="https://www.facebook.com/ISETBZ/" type="button" class="btn btn-primary" style="padding: 10px;"><i class="bi bi-facebook"></i> Facebbok </a>
        <a href="https://isetbz.rnu.tn/" type="button" class="btn btn-info" style="padding: 10px; margin: 5px;"><i class="bi bi-twitter"></i> Twitter</a> 
        <a href="https://isetbz.rnu.tn/" type="button" class="btn btn-light" style="padding: 10px; margin: 5px;"><i class="bi bi-linkedin"></i> Linkedin</a> 

    </div>
    </div>
    <div class="card">
      <img style="height: 100%;" src="../../../assets/images/ISET_Bizerte2.jfif" class="card-img-top" alt="...">
     
    </div>
    <div class="card">
      <img style="height: 100%;"  src="../../../assets/images/jardin.jpg" class="card-img-top" alt="...">
     
    </div>
  </div>